<div class="col-sm-offset-2 col-sm-10" style="padding: 0px;">
	<!-- 	<div class="menu-button"
		ng-click="header.settings.onCanvas = !header.settings.onCanvas">
		<i class="fa fa-navicon"></i>
	</div> -->

	<div class="col-sm-8 col-md-8 col-lg-8 text-center">
		<h2
			style="margin-top: 2%; margin-left: 15%;font-weight:100;font-size: 36px !important;">PORTAL</h2>
	</div>
		<!-- <a ui-sref="https://www.google.com/" ng-click="header.test()" target="_blank"
			style="color:#337ab7 !important; cursor: pointer !important; text-decoration: underline">Help</a>  -->
		<div class="col-sm-4 col-md-4 col-lg-4">
		<div style="float:right;margin-right:5%">
			<div>
				<label style="color: black;">Welcome</label>
			</div>
			<div>
				<label style="font-size:24px; font-weight:100 !important">{{header.user.firstName}}</label>
			</div>
		</div>
		<div style="float:right;margin-right:5%">
			<a  
			style="float: left; color: #337ab7 !important; cursor: pointer !important; text-decoration: underline"
			ng-href="/portal/app/core/layout/header/helpPage.html"
			target="_blank">Help</a> <label
			style="float: left; color: black !important;"> | </label> <a
			style="float: left; color: #337ab7 !important; cursor: pointer !important; text-decoration: underline">Logout</a>
		</div>
		</div>
</div>
