 <header-bar
            ng-hide="view.settings.isFullPage"
            settings="view.settings"
            locked="app.auth.isLocked"
            class="header-container {{view.settings.navbarHeaderColor}}"
            ng-class="{'header-fixed': view.settings.fixedHeader}">
 </header-bar>
<div id="containerDiv" class="container-fluid mngPwdLckView">
	<div class="row-fluid columns" style="display: inline-block; width: 80%; margin-top: 2%; margin-left: 10%;">
		<form name="fpc.resetForm ">
			<div class="col-sm-12 " style="border-bottom: 1px solid #cec8c8;padding-left:0px;padding-right: 0px;" >
				<div class="col-md-9" style="padding-left: 0px;">
					<label style="font-size: 30px;">Having trouble signing in?</label>
				</div>
				<div class="col-md-3" style="padding-right: 0px;">
					<a id="back_link" ui-sref="login" class="pull-right"
						style="margin-top: 5%; font-size: 14px; color: #009fe3; text-decoration: underline;">
						Back to login </a>
				</div>
			</div>
			
			<div class="col-sm-12" style="">
			
				<label id="usertext" style="margin-top: 1%; font-size: 14px;">For
				instruction on	resetting your password, please enter your registered email address.</label>
				<div class="col-md-12" style="padding:0px;">
						<input id="user" name="username" type="email" class="form-control"
						style="color:#000;display: block; width: 175px; height: 35px; margin-top: 1%;"
						ng-model="fpc.username" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
						placeholder="Enter Email"
						ng-keypress="fpc.keypress($event)" ng-focus="fpc.clearMessages()"
						ng-class="{errorColor: fpc.errorMessage != ''}"
						uib-popover="{{fpc.errorMessage}}" popover-placement="right">
					</div>
				<div class="col-md-12" style="padding:0px;" id="buttonDiv" uib-popover="{{fpc.message}}" popover-placement="right">
					<div style="width: 175px;">
						<input id="forgotPassword" type="button" value="Continue"
							class="btn btn-info" ng-click="fpc.sendMail()"
							style="background-color: #009fe3; color: white; margin-top: 5%; margin-bottom: 2%;">
					</div>
					<div class="col-md-4" style="padding: 0px;">
						<div class="alert alert-success"
							style="margin-top: 2%; min-width: 175px"
							ng-show="fpc.notification">Password reset link sent successfully to
							the mail id {{userMail}}</div>
						<div class="alert alert-danger"
							style="margin-top: 2%; min-width: 175px"
							ng-show="fpc.errorNotification">Sorry,we're having trouble completing your request due to backend issues.Please try again later</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

















